<div class="row-fluid">
  <div class="span4">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-film"></i>
        <h3>Movies</h3>
        <a href="movie-view_all.html" class="btn btn-mini pull-right">View All</a>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <ul class="dashboard-list">
          <li>
            <%= image_tag "projectx.jpg", :class => "movie-xsmall" %>
            <h4 class="title"><a href="#">Project X</a></h4>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "grantorino.jpg", :class => "movie-xsmall" %>
            <h4 class="title"><a href="#">Gran Torino</a></h4>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "missionimpossible.jpg", :class => "movie-xsmall" %>
            <h4 class="title"><a href="#">Mission Impossible Ghost Protocol</a></h4>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "rampart.jpg", :class => "movie-xsmall" %>
            <h4 class="title"><a href="#">Rampart</a></h4>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "wanderlust.jpg", :class => "movie-xsmall" %>
             <h4 class="title"><a href="#">Wanderlust</a></h4>
             <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
             <div class="ratings">
               <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
             </div>
             <div class="download"><i>added 2 days ago</i></div>
          </li>
        </ul>
      </div> <!-- /widget-content -->
    </div>
  </div>

  <div class="span4">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-facetime-video"></i>
        <h3>TV Shows</h3>
        <a href="tv-view_all.html" class="btn btn-mini pull-right">View All</a>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <ul class="dashboard-list">
          <li>
            <%= image_tag "tosh0.jpg", :class => "tv-xsmall" %>
            <h4 class="title"><a href="#">Tosh.0</a></h4>
            <h5 class="sub-title"><a href="#">S3E8 - "Fartly McFarterson"</a></h5>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "gameofthrones.jpg", :class => "tv-xsmall" %>
            <h4 class="title"><a href="#">Game of Thrones</a></h4>
            <h5 class="sub-title"><a href="#">S2E9 - "Lots of fucking tits"</a></h5>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "30rock.jpg", :class => "tv-xsmall" %>
            <h4 class="title"><a href="#">30 Rock</a></h4>
            <h5 class="sub-title"><a href="#">S7E12 - "Self depricating humor"</a></h5>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "workaholics.jpg", :class => "tv-xsmall" %>
            <h4 class="title"><a href="#">Workaholics</a></h4>
            <h5 class="sub-title"><a href="#">S3E4 - "We're really slackers!"</a></h5>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "itsalwayssunny.jpg", :class => "tv-xsmall" %>
            <h4 class="title"><a href="#">It's Always Sunny in Philadelphia</a></h4>
            <h5 class="sub-title"><a href="#">S7E37 - "Jerky boys and a girl"</a></h5>
            <div class="meta"><span class="label">2012</span> <span class="label">HD</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
        </ul>
      </div> <!-- /widget-content -->
    </div>
  </div>

  <div class="span4">
    <div class="widget">
      <div class="widget-header">
        <i class="icon-headphones"></i>
        <h3>Music</h3>
        <a href="music-view_all.html" class="btn btn-mini pull-right">View All</a>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <ul class="dashboard-list">
          <li>
            <%= image_tag "blonderedhead.jpg", :class => "music-xsmall" %>
            <h4 class="title"><a href="#">Blonde Redhead</a></h4>
            <h5 class="sub-title"><a href="#">In An Expression of the Inexpressible</a></h5>
            <div class="meta"><span class="label">1998</span> <span class="label">Album</span> <span class="label">192k</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "descendents.jpg", :class => "music-xsmall" %>
            <h4 class="title"><a href="#">Descendents</a></h4>
            <h5 class="sub-title"><a href="#">Milo Goes To College</a></h5>
            <div class="meta"><span class="label">2012</span> <span class="label">Album</span> <span class="label">320k</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "br_suffer.jpg", :class => "music-xsmall" %>
            <h4 class="title"><a href="#">Bad Religion</a></h4>
            <h5 class="sub-title"><a href="#">Suffer</a></h5>
            <div class="meta"><span class="label">2012</span> <span class="label">Album</span> <span class="label">192k</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "deadmau5.jpg", :class => "music-xsmall" %>
            <h4 class="title"><a href="#">Deadmau5</a></h4>
            <h5 class="sub-title"><a href="#">4x4=12</a></h5>
            <div class="meta"><span class="label">2010</span> <span class="label">Album</span> <span class="label">192k</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
          <li>
            <%= image_tag "revolver.jpg", :class => "music-xsmall" %>
            <h4 class="title"><a href="#">The Beatles</a></h4>
            <h5 class="sub-title"><a href="#">Revolver</a></h5>
            <div class="meta"><span class="label">2012</span> <span class="label">Album</span> <span class="label">192k</span></div>
            <div class="ratings">
              <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-empty"></i>
            </div>
            <div class="download"><i>added 2 days ago</i></div>
          </li>
        </ul>
      </div> <!-- /widget-content -->
    </div>
  </div>
</div>